<div style="text-decoration: none; " (click)="onclick()">
    <div class="card text-white bg-dark mb-3"  style="margin: 20px;width: 20rem; ">
        <div class="card-header header" style="background: rgb(28, 116, 248);">
          <div>
          {{customer.nom}} {{customer.prenom}}</div><i class="fas fa-edit"></i>
        </div>
        <div class="card-body son" style="background :white;"> 
          <img src='../../../../../assets/users-icon-png-15.jpg' style="max-width: 100px; border-radius: 50%; display:inline ;" class="pull-right">
          <div class="pson">
          <p class="card-text" style="display: inline; color: black;">{{customer.ville}}</p>
          <a href="../../customers-details/customers-details.component.html">view order</a>
        </div>
        </div>

    </div>
    
  </div>

