body{
    display: flex;
    justify-content: center;

}



.father{
    margin: auto;
    width:50%;
    display: flex;
    
}
.father>p{
    width: 50%;
}
img{
    width: 100px;
    height: 100px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}